@import url("https://fonts.googleapis.com/css2?family=Handjet:wght@300&family=Tektur:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Tektur", cursive;}

 .grid{
  background-color: rgba(0, 0, 0, 0.987);
  min-height: 100vh;
  padding: 0.1rem;


  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows:  0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;

  grid-template-areas:
     "img1 img1 img8 img8 img8"
     "img1 img1 img8 img8 img8"
     "img5 img5 img8 img8 img8"
     "img7 img7 img8 img8 img8"
     "img3 img3 img3 img3 img3"
     "img3 img3 img3 img3 img3"
     "img3 img3 img3 img3 img3"
     ;
     grid-gap: 0.3rem;
}

.img1{
   display: flex;
   flex-direction: column;
   gap: 1rem;
   padding: 1rem;
   background-image: url(../img/Imagen1.jpg);
   background-size: cover;
   background-position: center center;
   grid-area: img1;

}
.img3{
  display: flex;
   flex-direction: column;
   gap: 1rem;
   padding: 1rem;
   background-image: url(../img/img3.jpg);
   background-size: cover;
   background-position: center center;
   grid-area: img3;
}
.img5{
  display: flex;
   flex-direction: column;
   gap: 1rem;
   padding: 1rem;
   background-image: url(../img/img5.jpg);
   background-size: cover;
   background-position: center center;
   grid-area: img5;
}
.img7{
  display: flex;
   flex-direction: column;
   gap: 1rem;
   padding: 1rem;
   background-image: url(../img/img7.jpg);
   background-size: cover;
   background-position: center center;
   grid-area: img7;
}
.img8{
  display: flex;
   flex-direction: column;
   gap: 1rem;
   padding: 1rem;
   background-image: url(../img/img8.jpg);
   background-size: auto;
   background-position: center center;
   grid-area: img8;
}